{deps, [
    {cpflib, {git, "https://github.com/aialferov/cpflib", {tag, "master"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.1.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "master"}}}
]}.
{plugins, [
    {r3erlang,
     {git, "https://github.com/aialferov/r3erlang", {branch, "master"}}}
]}.

{src_dirs, ["src", "suites"]}.

{shell, [{apps, ['jose-at']},
         {config, "priv/jose-at.config"}]}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.

{escript_incl_extra, [{"priv/*.conf", "."}, {"suites/*.erl", "."}]}.
{escript_emu_args, "%%! -start_epmd false"}.
